@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"),
    url("../../assets/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../../assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Medium"),
    url("../../assets/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../../assets/fonts/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Bold"),
    url("../../assets/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../../assets/fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
