@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Thin"), url("../../assets/fonts/NotoSansKR-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Light"),
    url("../../assets/fonts/NotoSansKR-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), url("../../assets/fonts/NotoSansKR-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Medium"),
    url("../../assets/fonts/NotoSansKR-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Bold"), url("../../assets/fonts/NotoSansKR-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR Black"),
    url("../../assets/fonts/NotoSansKR-Black.otf");
  font-weight: 900;
}
