@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden;
    max-width: 100vw;
  }

  body {
    @apply relative w-full overflow-x-hidden;
  }

  mark {
    @apply whitespace-nowrap rounded-lg bg-zinc-800 px-2 text-white;
  }

  a {
    @apply hover:underline;
  }
}

@layer components {
  .main-section {
    @apply px-4 md:mx-auto md:max-w-5xl md:px-24;
  }

  a[target="_blank"].open-in-new::after {
    @apply relative bottom-1 text-sm text-gray-600;
    content: "↗️";
  }

  .list-dotted li {
    @apply relative pl-3 after:absolute after:top-3 after:left-0 after:block after:h-1 after:w-1 after:rounded-full after:bg-gray-800 last:mb-0 md:mb-1;
  }
}

@layer utilities {
  .no-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  .no-scroll-bar {
    -ms-overflow-style: none; /* IE and 엣지 */
    scrollbar-width: none; /* 파이어폭스 */
  }
}
